<a href="https://colab.research.google.com/github/Dheemanth-Chowdary/Query-Processing-DSA0506/blob/main/Analytical_March_4(Day_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

replacement_dict = {2: 20, 7: 70, 13: 130}
df.replace(replacement_dict, inplace=True)

print("\nDataFrame after replacement:")
print(df)

Original DataFrame:
   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

DataFrame after replacement:
    A   B    C
0   1   6   11
1  20  70   12
2   3   8  130
3   4   9   14
4   5  10   15

In [2]:
#2
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

replacement_dict = {2: 20, 7: 70, 13: 130}
replacement_dict_column = {'A': {3: 30, 5: 50}, 'C': {11: 110, 15: 150}}

df.replace(replacement_dict, inplace=True)
df.replace(replacement_dict_column, inplace=True)

print("\nDataFrame after replacement:")
print(df)

Original DataFrame:
   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

DataFrame after replacement:
    A   B    C
0   1   6  110
1  20  70   12
2  30   8  130
3   4   9   14
4  50  10  150

In [3]:
#3
import pandas as pd

data = {'Name': ['John Doe', 'Jane Smith', 'Bob Johnson'],
        'Age': [30, 25, 35],
        'Address': ['123 Main St, City1', '456 Elm St, City2', '789 Oak St, City3']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df[['Street', 'City']] = df['Address'].str.split(', ', expand=True)

df.drop(columns=['Address'], inplace=True)

print("\nDataFrame after splitting 'Address' column:")
print(df)

Original DataFrame:
          Name  Age             Address
0     John Doe   30  123 Main St, City1
1   Jane Smith   25   456 Elm St, City2
2  Bob Johnson   35   789 Oak St, City3

DataFrame after splitting 'Address' column:
          Name  Age       Street   City
0     John Doe   30  123 Main St  City1
1   Jane Smith   25   456 Elm St  City2
2  Bob Johnson   35   789 Oak St  City3

In [4]:
#4
import pandas as pd
import re

data = {'Name': ['John Doe', 'Jane Smith', 'Bob Johnson'],
        'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def extract_email(text):
    pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
    emails = re.findall(pattern, text)
    if emails:
        return emails[0]
    else:
        return None

df['Extracted Email'] = df['Email'].apply(extract_email)

print("\nDataFrame with extracted emails:")
print(df)

Original DataFrame:
          Name                    Email
0     John Doe     john.doe@example.com
1   Jane Smith   jane.smith@example.com
2  Bob Johnson  bob.johnson@example.com

DataFrame with extracted emails:
          Name                    Email          Extracted Email
0     John Doe     john.doe@example.com     john.doe@example.com
1   Jane Smith   jane.smith@example.com   jane.smith@example.com
2  Bob Johnson  bob.johnson@example.com  bob.johnson@example.com

In [5]:
#5
import pandas as pd
import re

data = {'Tweet': ['Excited to visit #NewYork next week! #travel',
                  'Just finished reading #Python programming book',
                  'Loving the #sunny weather today',
                  'Looking forward to the #weekend']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def extract_hashtags(text):
    hashtags = re.findall(r'#(\w+)', text)
    return hashtags

df['Hashtags'] = df['Tweet'].apply(extract_hashtags)

print("\nDataFrame with extracted hashtags:")
print(df)

Original DataFrame:
                                            Tweet
0    Excited to visit #NewYork next week! #travel
1  Just finished reading #Python programming book
2                 Loving the #sunny weather today
3                 Looking forward to the #weekend

DataFrame with extracted hashtags:
                                            Tweet           Hashtags
0    Excited to visit #NewYork next week! #travel  [NewYork, travel]
1  Just finished reading #Python programming book           [Python]
2                 Loving the #sunny weather today            [sunny]
3                 Looking forward to the #weekend          [weekend]

In [6]:
#6
import pandas as pd
import re

data = {'Tweet': ['Excited to visit @NewYork next week! @travel',
                  'Just finished reading @Python programming book',
                  'Loving the @sunny weather today',
                  'Looking forward to the @weekend']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def extract_mentions(text):
    mentions = re.findall(r'@(\w+)', text)
    return mentions

df['Mentions'] = df['Tweet'].apply(extract_mentions)

print("\nDataFrame with extracted mentions:")
print(df)

Original DataFrame:
                                            Tweet
0    Excited to visit @NewYork next week! @travel
1  Just finished reading @Python programming book
2                 Loving the @sunny weather today
3                 Looking forward to the @weekend

DataFrame with extracted mentions:
                                            Tweet           Mentions
0    Excited to visit @NewYork next week! @travel  [NewYork, travel]
1  Just finished reading @Python programming book           [Python]
2                 Loving the @sunny weather today            [sunny]
3                 Looking forward to the @weekend          [weekend]

In [7]:
#7
import pandas as pd
import re

data = {'Text': ['abc123', '456def', 'ghi789', '10jkl']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def extract_numbers(text):
    numbers = re.findall(r'\d+', text)
    return numbers

df['Numbers'] = df['Text'].apply(extract_numbers)

print("\nDataFrame with extracted numbers:")
print(df)

Original DataFrame:
     Text
0  abc123
1  456def
2  ghi789
3   10jkl

DataFrame with extracted numbers:
     Text Numbers
0  abc123   [123]
1  456def   [456]
2  ghi789   [789]
3   10jkl    [10]

In [8]:
#8
import pandas as pd
import re

data = {'Text': ['Contact me at 123-456-7890',
                 'Phone: (987) 654-3210',
                 'Call 555.123.4567 for assistance']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def extract_phone_numbers(text):
    phone_numbers = re.findall(r'\b\d{3}[-.\s]?\d{3}[-.\s]?\d{4}\b', text)
    return phone_numbers

df['Phone Numbers'] = df['Text'].apply(extract_phone_numbers)

print("\nDataFrame with extracted phone numbers:")
print(df)

Original DataFrame:
                               Text
0        Contact me at 123-456-7890
1             Phone: (987) 654-3210
2  Call 555.123.4567 for assistance

DataFrame with extracted phone numbers:
                               Text   Phone Numbers
0        Contact me at 123-456-7890  [123-456-7890]
1             Phone: (987) 654-3210              []
2  Call 555.123.4567 for assistance  [555.123.4567]

In [9]:
#9
import pandas as pd
import re

data = {'Text': ['The year 2022 is coming soon',
                 'It happened in 1998',
                 'The event took place in 1850 and 1900',
                 'Future plans for 2205']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def extract_years(text):
    years = re.findall(r'\b(18\d{2}|19\d{2}|20\d{2}|21\d{2})\b', text)
    valid_years = [year for year in years if 1800 <= int(year) <= 2200]
    return valid_years

df['Years'] = df['Text'].apply(extract_years)

print("\nDataFrame with extracted years:")
print(df)

Original DataFrame:
                                    Text
0           The year 2022 is coming soon
1                    It happened in 1998
2  The event took place in 1850 and 1900
3                  Future plans for 2205

DataFrame with extracted years:
                                    Text         Years
0           The year 2022 is coming soon        [2022]
1                    It happened in 1998        [1998]
2  The event took place in 1850 and 1900  [1850, 1900]
3                  Future plans for 2205            []

In [10]:
#10
import pandas as pd
import re

data = {'Text': ['Hello! How are you?',
                 'I have $100 in my wallet.',
                 'This is a #hashtag',
                 'The temperature is 25째C']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def extract_non_alphanumeric(text):
    non_alphanumeric = re.findall(r'[^a-zA-Z0-9\s]', text)
    return non_alphanumeric

df['Non-Alphanumeric'] = df['Text'].apply(extract_non_alphanumeric)

print("\nDataFrame with extracted non-alphanumeric characters:")
print(df)

Original DataFrame:
                        Text
0        Hello! How are you?
1  I have $100 in my wallet.
2         This is a #hashtag
3    The temperature is 25째C

DataFrame with extracted non-alphanumeric characters:
                        Text Non-Alphanumeric
0        Hello! How are you?           [!, ?]
1  I have $100 in my wallet.           [$, .]
2         This is a #hashtag              [#]
3    The temperature is 25째C              [째]